@page "/"
@page "/mypage"
@page "/mypage/{simptom}"
@inject IJSRuntime JsRuntime

<div class="custom_body">
    <div class="logo">
        <img id="logo-image" src="/css/images/cadu.png" />
    </div>
    <div class="input_bar">
        <div class="fake_input">
            <form id="input_form" name="des" action="mypage/@textul">
                <input id="input_box" name="search_input" type="text" placeholder="Introduceti osimptoma" onsubmit="SendList" @bind="textul" />
                <a href="mypage/@simptom"><img id="search-icon" src="/css/images/search.svg" /></a>
            </form>
        </div>
    </div>

    <div class="admin_options">
        <div align="center">
            <a class="simptoms_button" @onclick="AddSimptomToList"><span>Add</span></a>
        </div>

        <div align="center">
            <a class="simptoms_button" @onclick="SendList"><span>Search</span></a>
        </div>
    </div>

</div>


@if (testing) {
    <tbody class="test_data">
        @if (Final != null) {
        <div class="diseases">
            <p><b>Now we show only testing data, here will be placed search output with diseases</b> </p>
            <p class="dissease_name">Disease name</p>
            <p class="dissease_remedy">Dissease remedy</p>
            <p class="dissease_info">Dissease additional info</p>
            @foreach (var x in Final)
            {
                <li>@x</li>
            }

        </div>
        }
    </tbody>
}

@code {
        bool testing = true;

    [Parameter]
    public string simptom { get; set; }

    string textul;
    string disease = "disease name";

    List<string> simtomps = new List<string>();
    List<string> Final = new List<string>();

    void AddSimptomToList()
    {
        if (string.IsNullOrEmpty(textul) == false)
        {
            simtomps.Add(textul);
            textul = string.Empty;
        }
    }


    void SendList()
    {
        Final = simtomps.GetRange(0, simtomps.Count);
        simtomps.Clear();
        //return Final;

    }
}