@page "/mypage"
@page "/mypage/{simptom}"
@inject IJSRuntime JsRuntime

<div class="custom_body">
    <div class="logo">
        <img id="logo-image" src="/css/images/cadu.png" />
    </div>
    <div class="input_bar">
        <div class="fake_input">
            <form id="input_form" name="des" action="mypage/@textul">
                <input id="input_box" name="search_input" type="text" placeholder="Introduceti o boala..." onsubmit="SendList()" @bind="disease" />
                <a href="mypage/@simptom"><img id="search-icon" src="/css/images/search.svg" /></a>
            </form>
        </div>
    </div>

    <div class="simptom_add_div">
            <input class="simptom_add_imput" name="add_symptom" type="text" placeholder="Introduceti o simptoma" @bind="textul" />
    </div>

    <div class="admin_options">
        <div align="center">
            <a class="simptoms_button" @onclick="AddSimptomToList"><span>Add</span></a>
        </div>

        <div align="center">
            <a class="simptoms_button" @onclick="SendList"><span>Store</span></a>
        </div>
    </div>

</div>


@if (testing) {
    <tbody class="test_data">
        @if (Final != null) {
            <b>@disease</b>
            <ul>
                @foreach (var x in Final)
                {
                    <li>@x</li>
                }
            </ul>
        }
    </tbody>
}

@code {
        bool testing = true;

    [Parameter]
    public string simptom { get; set; }

    string textul;
    string disease;
    List<string> simtomps = new List<string>();
    List<string> Final = new List<string>();

    void AddSimptomToList()
    {
        if (string.IsNullOrEmpty(textul) == false)
        {
            simtomps.Add(textul);
            textul = string.Empty;
        }
    }


    void SendList()
    {
        Final = simtomps.GetRange(0, simtomps.Count);
        simtomps.Clear();
        //return Final;

    }
}